#content {
    padding: 0px;
}

#content-editprofile {
    padding: 50px;
    max-width: 530px;
    margin: 0px auto;
}

#editprofile-identity-name {
    font-weight: bold;
}

#editprofile-name, #editprofile-gender, #editprofile-email {
    margin-bottom: 20px;
}

#editprofile-contactno {
    margin-bottom: 30px;
}

#editprofile-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 30px;
}

#editprofile-profileicon {
    text-align: center;
    position: relative;
    max-width: 120px;
}

#image-profileicon {
    border-radius: 100%;
    border: 1.5px solid #949494;
    background-image: url(../_images/icons/misc/default_profile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
}

#editprofile-info > .inputerror {
    grid-column: 1 / span 2;
    text-align: center;
}

label[for="btn-profileicon"] {
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../_images/icons/misc/edit_profile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    right: 0px;
    bottom: 0px;
    text-indent: -9999px;
}

input[type="file"] {
    display: none;
}

#editprofile-name section {
    display: flex;
    justify-content: space-between;
}

#input-firstname {
    width: 70%;
    margin-right: 10px;
}

#input-lastname {
    width: 30%;
}

/* For screen width of 768px and above */
@media screen and (min-width: 768px) {
    #content {
        display: grid;
        grid-template-columns: 250px auto auto auto;
    }
    
    #content h2 {
        text-align: left;
    }
    
    #content-editprofile {
        padding: 50px;
        margin: 0px;
        grid-column: 2 / span 3;
        min-width: 400px;
        max-width: none;
    }
    
    #editprofile-info {
        justify-content: flex-start;
    }
    
    #editprofile-info > .inputerror {
        text-align: left;
    }
}

/* For screen width of 980px and above */
@media screen and (min-width: 980px) {
    #content-editprofile {
        padding: 50px 100px;
    }
}

/* For screen width of 1115px and above */
@media screen and (min-width: 1115px) {
    #content-editprofile {
        width: 75%;
    }
}